<div class="page">
  <div class = "folder-title text-center">
    <h1>{{folder.title}}</h1>
  </div>

  <div class = "row justify-content-center">

      {{#each files as |file|}}
      <h6>{{folder.users}}</h6>
        <div on click = "">
          <div class="card">
              <h3 class = "card-title">{{file.title}}</h3>
              <p class = "card-text">{{file.body}}</p>
          </div>
        </div>
      {{/each}}

      <div style="width: 18rem;">
        <div class = "row justify-content-center">
            <a href="/folders/{{folder._id}}/files/new"><button>New Code Snippit</button></a>
        </div>
      </div>

  </div>
</div>

<a href="/folders" class="back-btn"><button>< Back</button></a>
