<div class="page">
  <div class = "folder-title text-center">
    <h1>{{folder.title}}</h1>
    <a href="/folders/{{folder.id}}/edit">Edit Title</a>
  </div>

  <div class = "row">
    {{#each files as |file|}}
      <!-- <div class="col-sm-4"> -->
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">{{file.title}}</h1>
            <p class="card-text" style="white-space: pre">{{file.body}}</p>

            <button>Copy</button>
          </div>
        </div>
      <!-- </div> -->
    {{/each}}
  </div>

  <div class="row">
    <!-- <div class="col-sm-4"> -->
      <a href="/folders/{{folder._id}}/files/new">
        <button>New Code Snippit</button>
      </a>
    <!-- </div> -->
  </div>

<a href="/folders" class="back-btn"><button>< Back</button></a>
